<div class="card">
	<div class="card-header">
		{{recipe.name}}
	</div>
	<img src="{{recipe.imgPath}}" class="card-img-top">
	<div class="card-body">
		<p class="card-text">{{recipe.description}}</p>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let i of recipe.ingredient">
				{{i.name}} -> ({{i.amount}})
			</li>
		</ul>
	</div>
	<div class="card-footer">
		<div class="dropdown">
			<button class="btn btn-info dropdown-toggle" id="dmenu" data-toggle="dropdown">Action</button>
			<div class="dropdown-menu" [ngClass]="{show : isShow}" aria-labelledby="dmenu">
				<a [routerLink]="" (click)="onAddToShopping()" class="dropdown-item">Add ingredient</a>
				<a [routerLink]="['edit']" class="dropdown-item">Edit recipe</a>
				<a [routerLink]="" (click)="onDelete()" class="dropdown-item">Delete recipe</a>
			</div>
		</div>
	</div>
</div>
