<div class="row">
	<div class="col">
		<button class="btn btn-outline-info">
			New recipe
		</button>
	</div>
</div>

<div class="row">
	<div class="col">
		<div class="list-group-flush">
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let i of recipes">
				<div class="row">
					<div class="col-md-3">
						<img src="{{i.imgPath}}" class="img-fluid">
					</div>
					<div class="col-md-9">
						<h4 class="list-group-item-heading">{{i.name}}</h4>
						<p class="list-group-item-text">{{i.description}}</p>
					</div>
				</div>
			</a>
		</div>
		<app-recipe-item></app-recipe-item>
	</div>
</div>